.forthehiddenform {
	visibility: hidden;
}

.forthevisibleform {
	visibility: visible;
}


.littleredbox {
	height: 20px;
	background-color: red;
	width: 20px;
	display: inline-block;
	border: 1px solid black;
}

.littleorangebox {
	height: 20px;
	background-color: orange;
	width: 20px;
	display: inline-block;
	border: 1px solid black;
}

.littleyellowbox {
	height: 20px;
	background-color: yellow;
	width: 20px;
	display: inline-block;
	border: 1px solid black;
}

.littlegreenbox {
	height: 20px;
	background-color: green;
	width: 20px;
	display: inline-block;
	border: 1px solid black;
}

.littlebluebox {
	height: 20px;
	background-color: blue;
	width: 20px;
	display: inline-block;
	border: 1px solid black;
}

.littlepurplebox {
	height: 20px;
	background-color: purple;
	width: 20px;
	display: inline-block;
	border: 1px solid black;
}

.littleblackbox {
	height: 20px;
	background-color: black;
	width: 20px;
	display: inline-block;
	border: 1px solid black;
}

.littleskybluebox {
	height: 20px;
	background-color: skyblue;
	width: 20px;
	display: inline-block;
	border: 1px solid black;
}


.lightred {
	height: 20px;
	background-color: red;
	width: 20px;
	display: inline-block;
	opacity: 0.2;
	border: 1px solid black;
}

.lightorange {
	height: 20px;
	background-color: orange;
	width: 20px;
	display: inline-block;
	opacity: 0.2;
	border: 1px solid black;
}

.lightyellow {
	height: 20px;
	background-color: yellow;
	width: 20px;
	display: inline-block;
	opacity: 0.2;
	border: 1px solid black;
}

.lightgreen {
	height: 20px;
	background-color: green;
	width: 20px;
	display: inline-block;
	opacity: 0.2;
	border: 1px solid black;
}

.lightblue {
	height: 20px;
	background-color: blue;
	width: 20px;
	display: inline-block;
	opacity: 0.2;
	border: 1px solid black;

}

.lightpurple {
	height: 20px;
	background-color: purple;
	width: 20px;
	display: inline-block;
	opacity: 0.2;
	border: 1px solid black;
}

.lightblack {
	height: 20px;
	background-color: black;
	width: 20px;
	display: inline-block;
	opacity: 0.2;
	border: 1px solid black;
}

.lightskyblue {
	height: 20px;
	background-color: skyblue;
	width: 20px;
	display: inline-block;
	opacity: 0.2;
	border: 1px solid black;
}




