<!DOCTYPE html>
<html ng-app="bear">
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="splitz.js"></script>
<link rel="stylesheet" type="text/css" href="splitz.css">
	<title>Splitz</title>
</head>
<body ng-controller="polarbearcontroller">
  <p>Each person enters one item's price per field and chooses a color.  If Person A has two items, he would enter the price and select red, and then enter the other price and select red again.  One color per person.</p>
<div>

  <div ng-repeat="price in prices">
  Price:<input type="text" ng-model="price.amt">
            <div class="littleredbox" ng-class="menured($index)" ng-click="clickLittle($index, 'red')"></div>
            <div class="littleorangebox"  ng-class="menuorange($index)" ng-click="clickLittle($index, 'orange')"></div>
            <div class="littleyellowbox" ng-class="menuyellow($index)" ng-click="clickLittle($index, 'yellow')"></div>
            <div class="littlegreenbox"  ng-class="menugreen($index)" ng-click="clickLittle($index, 'green')"></div>
            <div class="littlebluebox"  ng-class="menublue($index)" ng-click="clickLittle($index, 'blue')"></div>
            <div class="littlepurplebox"  ng-class="menupurple($index)" ng-click="clickLittle($index, 'purple')"></div>
            <div class="littleblackbox"  ng-class="menublack($index)" ng-click="clickLittle($index, 'black')"></div>
            <div class="littleskybluebox"  ng-class="menuskyblue($index)" ng-click="clickLittle($index, 'skyblue')"></div>
          
         

  <br>
  <br>
  </div>
  

  <div ng-click="Show()">Add Another Price
  </div>
 
  Total Tax:<input type="text" ng-model="tax"><br>
  <input ng-click="Submit()"  value="Submit">

</div>

<div>The total is {{redtotal | currency}}</div>
<div>The total is {{orangetotal | currency}}</div>
<div>The total is {{yellowtotal | currency}}</div>
<div>The total is {{greentotal | currency}}</div>
<div>The total is {{bluetotal | currency}}</div>
<div>The total is {{purpletotal | currency}}</div>
<div>The total is {{blacktotal | currency}}</div>
<div>The total is {{skybluetotal | currency}}</div>


</body>
</html>

