* { box-sizing: border-box } 


.inputbutton {
	color: #d3d3d3;
	border: 1px solid black;
}

.morevisible {
	color: black;
}
.littleredbox {
	height: 20px;
	background-color: red;
	width: 20px;
	display: inline-block;
	border: 5px solid lightgrey;
}

.littleorangebox {
	height: 20px;
	background-color: orange;
	width: 20px;
	display: inline-block;
	border: 5px solid lightgrey;
}

.littleyellowbox {
	height: 20px;
	background-color: yellow;
	width: 20px;
	display: inline-block;
	border: 5px solid lightgrey;
}

.littlegreenbox {
	height: 20px;
	background-color: green;
	width: 20px;
	display: inline-block;
	border: 5px solid lightgrey;
}

.littlebluebox {
	height: 20px;
	background-color: blue;
	width: 20px;
	display: inline-block;
	border: 5px solid lightgrey;
}

.littlepurplebox {
	height: 20px;
	background-color: purple;
	width: 20px;
	display: inline-block;
	border: 5px solid lightgrey;
}

.littleblackbox {
	height: 20px;
	background-color: black;
	width: 20px;
	display: inline-block;
	border: 5px solid lightgrey;
}

.littleskybluebox {
	height: 20px;
	background-color: skyblue;
	width: 20px;
	display: inline-block;
	border: 5px solid lightgrey;
}


.lightred {
	height: 20px;
	background-color: red;
	width: 20px;
	display: inline-block;
	/*opacity: 0.2;*/
	border: 2px solid black;
}

.lightorange {
	height: 20px;
	background-color: orange;
	width: 20px;
	display: inline-block;
	/*opacity: 0.2;*/
	border: 2px solid black;
}2

.lightyellow {
	height: 20px;
	background-color: yellow;
	width: 20px;
	display: inline-block;
	opacity: 0.2;
	border: 2px solid black;
}

.lightgreen {
	height: 20px;
	background-color: green;
	width: 20px;
	display: inline-block;
	opacity: 0.2;
	border: 2px solid black;
}

.lightblue {
	height: 20px;
	background-color: blue;
	width: 20px;
	display: inline-block;
	opacity: 0.2;
	border: 2px solid black;

}

.lightpurple {
	height: 20px;
	background-color: purple;
	width: 20px;
	display: inline-block;
	opacity: 0.2;
	border: 2px solid black;
}

.lightblack {
	height: 20px;
	background-color: black;
	width: 20px;
	display: inline-block;
	opacity: 0.2;
	border: 2px solid black;
}

.lightskyblue {
	height: 20px;
	background-color: skyblue;
	width: 20px;
	display: inline-block;
	opacity: 0.2;
	border: 2px solid black;
}



